{% extends 'base.html.twig' %}
{% block body %}


    <div>
        <h1 align="center">Reclamation list </h1>
        <table border="4" align="center">
            <tr>

            <td>DESCRIPTION</td>


            </tr>
            {% for r in reclamation %}
                <tr>
                    <td> {{ r.description_rec }}</td>

                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
