{% extends 'base.html.twig' %}
{% block content %}
    <div class="row-12">
        <a class="btn btn-primary" value="notif" href="{{ path('notificationf') }}"><i class="fa fa-bell"></i></a>
    </div>
{% endblock %}
{% block body %}
    <div class="row-12">
        <a class="btn btn-primary" value="notif" href="{{ path('notificationf') }}"><i class="fa fa-bell"></i></a>
    </div>

    <div>
        <h1 align="center">formations list </h1>
        <div class="d-flex align-items-center"><input class="form-control" type="search" id="search" placeholder="Search by Type"></div>

        <a class="btn btn-primary" value="tri" href="{{ path('order') }}"><i class="fa fa-sort"></i></a>
        <table border="4" align="center" id="all">
            <thead>
            <tr>
                <td>TITLE</td>
                <td>DESCRIPTION</td>
                <td>DATE</td>
                <td>LOCALISATION</td>
                <td>UPDATE</td>
                <td>DELETE</td>

            </tr>

            </thead>
            <tbody id="all">
            {% include 'formation/formationajax.html.twig' %}
            </tbody>
            <tbody align="left" border="2" id="search">
            </tbody>
        </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            var currentRequest = null;
            $("#search").keyup(function(e){

                var value = $(this).val();
                if(currentRequest != null) {
                    currentRequest.abort();
                }

                currentRequest = $.ajax({

                    url : "{{ path('searchrdv') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },

                    success : function(retour)
                    {
                        $('#all').html(retour);

                    },
                });
                return false;
            });
        });
    </script>
    </script>
{% endblock %}